services:
    postgres:
        container_name: postgres
        image: postgres:16
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        ports:
            - 5432:5432
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - kirt08

    redis:
        container_name: redis
        image: redis:8.2
        command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
        ports:
            - 6379:6379
        volumes:
            - redis_data:/data
        networks:
            - kirt08

    redis_gui:
        container_name: redis_gui
        image: redis/redisinsight
        ports:
            - 5540:5540

    rabbitmq:
        container_name: rabbitmq
        image: rabbitmq:4-management
        ports:
            - 5672:5672
            - 15672:15672
        environment:
            RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
            RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq
        networks:
            - kirt08



volumes:
    postgres_data:
    redis_data:
    rabbitmq_data:

networks:
    kirt08: